@model List<SubjectViewModel>;
@{
	ViewData["Title"] = "Index";
}

<div class="container">
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<td>N°</td>
				<td>Nombre</td>
				<td>Descripcion</td>
				<td>Estado</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.subject_id</td>
					<td>@item.name</td>
					<td>@item.description</td>
					<td>@(item.isActive == 1 ? "Activo" : "Inactivo")</td>
				</tr>
			}
		</tbody>
	</table>

	<div class="card">
		<div class="card-header">Agregar Materia</div>
		<div class="card-body">
			<a asp-action="Add" asp-controller="Subject" class="btn btn-success">Agregar</a>
		</div>
	</div>
</div>

